<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep internetowy</title>
    <script>
        var ordersData = <%- JSON.stringify(orders)%>;
        var itemsData = <%- JSON.stringify(shopItems)%>
    </script>
    <script src="ordersPageScript.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/ordersPage.css">
</head>

<body>
<div class="columnLogoCategories">
    <button class="MainPage">Strona główna</button>
</div>
<div class="ordersRows">

</div>

</body>
<script>
    const mainPageButton = document.querySelector(".MainPage");
    mainPageButton.addEventListener("click", (e) => {
        window.location.href = "/";
    });
</script>

</html>