<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep internetowy</title>
    <link rel="stylesheet" type="text/css" href="/css/mainPage.css">
</head>

<body>
<div class="columnLogoCategories">
    <button class="MainPage">Strona główna</button>
</div>

<h1>Login:</h1>


</body>
<script>
    const mainPageButton = document.querySelector(".MainPage");
    mainPageButton.addEventListener("click", (e) => {
        window.location.href = "/";
    });
</script>

</html>